body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start{
    justify-content: start;

}

.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);

}

.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}

.header_link:hover{
    font-weight: bold;
    
}

.header_link:hover::before{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;    
    bottom:0;
}


.header_ul{
    margin-right: 75px;
}

.header_li:first-of-type{
    margin-right: 30px;
}

.button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: bold;
}

.button:hover{
    cursor: pointer;
    transition: 1s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #192eee;;
}

.base{
    background-color: #F4F5F7;
    padding: 77px 0 76px;
}

.base_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;

}

.base_text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;

}
.base_main{
    max-width: 555px;
}


.logos{
    padding: 30px 0 106px;

}

.inbox{
    background: rgba(252, 240, 227, 0.4);
    padding: 115px 0 116px;
}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background: white;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;
}

.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom: 26px;
}

.inbox_text-bold{
    font-weight: 700;
}

.inbox_img{
    margin-right: 11px;
}

.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;
}

.inbox_position{
   line-height: 22px;
    color: rgba(43,41,45,0.6);

}

.info_pretitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 26px;

}

.info_pretitle-orange{
    color: #F1592B;

}

.info_title{
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: bold;
    max-width: 462px;
    margin-bottom: 26px;
}

.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}

.box{
    padding: 110px 0 105px;
}

.info_pretitle-blue{
    color: #0189D1;
}

.info-block{
    margin-top: 105px;
}

.info-block_text1{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    max-width: 360px;
}

.info-block_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #3142C6;

}

.info-block_text1-bold{
    font-weight: 700;
}


.categories{
background-color:rgba(0, 161, 198, 0.07);
padding: 108px 0 110px;
}

.categories_main{
    text-align: center;
   
}

.categories_title_1{
    font-size: 22px;
    line-height: 34px;
    color: #2B292D;
    font-weight: bold;
    margin-bottom: 24px;
    
}

.categories_title_2{
    font-size: 56px;
    line-height: 56px;
    color: #2B292D;
    font-weight: bold;
    max-width: 555px;
    margin: 0 auto 30px;

}

.categories_text{
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    max-width: 555px;
    margin: 0 auto 34px;

} 

.categories_button{
    width: 160px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    font-size: 18px;
    line-height: 13px;
    color: #000000;
    border: none;
    font-weight: bold;
    margin-left: 10px;
    
}

.categories_button:hover{
    cursor: pointer;
}

 
.grid_1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 31px;
    margin-top: 111px;
}

.item_1{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    max-width: 262px;
    text-align: center;
    border-radius: 8px;
    padding: 22px 0 33px;
}

.item_1_text{
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    font-weight: bold;
    margin-top: 22px;
}

.item_1:hover{
    background: #3141C5;
    transition: 1s;
    cursor: pointer;

}

.item_1 p:hover{
    color: white;

}


.group{
    padding: 90px 0 91px;
    text-align: center;

}

.group_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
    margin-bottom: 26px;
}

.group_text{
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #172342;
    max-width: 554px;
    margin: 0 auto;
    margin-bottom: 97px;
}

.grid_2{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 42px;
    column-gap: 50px ;
}


.item_2:nth-child(3), .item_2:nth-child(4) {
    grid-row: span 2;

}


